<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115892070-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-115892070-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Portfolio</title>
	<!-- Bootstrap Core CSS -->
	<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- Theme CSS -->
	<link href="static/css/portfolio.css" rel="stylesheet" id="light_styles" title="Light">
	<link href="static/css/dark.css" rel="stylesheet alternate" id="dark_styles" title="Dark">
	<!-- {% block extra_head %}
	{% endblock extra_head %} -->
	<style>
	#chartjs-tooltip {
			opacity: 1;
			position: absolute;
			background: rgba(0, 0, 0, .7);
			color: white;
			border-radius: 3px;
			-webkit-transition: all .1s ease;
			transition: all .1s ease;
			pointer-events: none;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}

		.chartjs-tooltip-key {
			/* display: inline-block; */
			/* width: 10px; */
			/* height: 10px; */
			/* margin-right: 10px; */
		}
	</style>
</head>

<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<button type="button" class="light_bulb" id="lights" value="ON" data-toggle="tooltip" title="Toggle Nightmode"></button>
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/">kt0.org</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

				<!-- {% block navbar %} -->
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#ppg">ppg</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#december">december</a>
				</li>
				<!-- {% endblock navbar %} -->

					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Projects<span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
							<li><a class="dropdown-item" href="/charts">Charts</a></li>
							<li><a class="dropdown-item" href="/snippets">Snippets</a></li>
							<li role="separator" class="divider"></li>
							<div class="dropdown-divider"></div>
							<li class="dropdown-header">header</li>
							<li><a class="dropdown-item disabled" id="placeholder">Placeholder</a></li>
							<li><a class="dropdown-item" href="">One more</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		</nav>

	<!-- Intro Header NOTE: This should be contained elsewhere -->

	<!-- idea: https://books.google.com/books?id=WzW9BwAAQBAJ&lpg=PA85&ots=mi2Q28G7mS&dq=django%20dynamic%20navbar%20pills&pg=PA85#v=onepage&q=django%20dynamic%20navbar%20pills&f=false -->
	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<!-- <h1 class="brand-heading"></h1> -->
						<!-- {% block header_text %} -->
						<p class="intro-text">
							Charts!
							<br>WoW!
							</p>
							<a href="#chart1" class="btn btn-circle js-scroll-trigger">
							<i class="fa fa-angle-double-down animated"></i></a>
						<!-- {% endblock header_text %} -->
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- {% block body_block %} -->
		<!-- {% for chart in charts %} -->
				<section id="chart1" class="content-section text-center">
					<div class="container">
						<div class="row">
							<!-- changing this changes the size of the chart -->
							<div class="col-lg-8 mx-auto">
								<!-- these width and height variables seem to be ignored in favor of the above -->
								<canvas id="ppg" width="800" height="500"></canvas>
							</div>
						</div>
					</div>
				</section>
				<section id="chart2" class="content-section text-center">
					<div class="container">
						<div class="row">
							<!-- changing this changes the size of the chart -->
							<div class="col-lg-8 mx-auto">
								<!-- these width and height variables seem to be ignored in favor of the above -->
								<canvas id="december" width="800" height="500"></canvas>
							</div>
						</div>
					</div>
				</section>
				<section id="chart3" class="content-section text-center">
					<div class="container">
						<div class="row">
							<!-- changing this changes the size of the chart -->
							<div class="col-lg-8 mx-auto">
								<!-- these width and height variables seem to be ignored in favor of the above -->
								<canvas id="days" width="800" height="500"></canvas>
							</div>
						</div>
					</div>
				</section>
		<!-- {% endfor %} -->
	<div class="container">
		<p>All charts created using <a href="http://www.chartjs.org/docs/">chart.js</a></p>
	</div>
	<!-- {% endblock body_block %} -->

	<!-- Map Section -->
	<div id="map"></div>
	<!-- {% block footer %} -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
					<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
					</div>
					<p class="copyright">Copyright &copy; 2018</p>
				</div>
	</footer>
	<!-- {% endblock footer %} -->

	<!-- Bootstrap Core JavaScript -->
	<script src="static/vendor/jquery/jquery.min.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3pvtUZ7YVzHVM8H22zcxtn7muQYjywWU&"></script>

	<!-- Theme JavaScript -->
	<script src="static/js/portfolio.js"></script>
	<script src="static/js/moment-with-locales.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

	<script src="static/js/vein.js"></script>
	<script>

	document.getElementById("lights").addEventListener("click", lightswitch);

	function lightswitch() {
		currentvalue = document.getElementById("lights").value;
		// var dark = document.getElementById("dark_styles");
		// dark.disabled = false;
		if(currentvalue == "ON"){
			// {% if view.template_name == 'home.html'%}
			// document.getElementById("card_games").classList.replace("bg-light", "bg-dark");
			// document.getElementById("card_games").classList.add("text-white");
			// {% elif view.template_name == 'charts.html' %}
			// updateChartItem(butthole, butthole.options.scale.gridLines, "color", "rgba(233, 236, 239, 0.45)");
			// {% else %}
			// {% endif %}
			vein.inject('body', {'color': 'rgb(230,230,241)', 'background-color': 'rgb(35,36,41)'});
			vein.inject('.card-body', {'background-color': 'rgb(35,36,41)'});
			vein.inject('.content-section', {'border-top-color': 'rgb(79,80,83)'});
			vein.inject(['a:hover','a:focus'], {'color': 'rgb(29,155,108)'});
			vein.inject('.light_bulb', {'background': 'url("static/img/light-bulb-white.png") no-repeat center scroll', 'background-size': '50px 50px'});
			vein.inject(['.hljs-comment','.hljs-quote'], {'color': 'rgb(153,153,153)'});
			vein.inject(['.hljs-variable', '.hljs-template-variable','.hljs-tag','.hljs-name','.hljs-selector-id','.hljs-selector-class','.hljs-regexp','.hljs-deletion'],
			{
				'color': 'rgb(242,119,122)'
			});
			vein.inject('.hljs', {'color': 'rgb(204,204,204)', 'background': 'rgb(45,45,45)'});
    		document.getElementById("lights").value = "OFF";
	  	}else{
			// {% if view.template_name == 'home.html'%}
			// document.getElementById("card_games").classList.replace("bg-dark", "bg-light");
			// document.getElementById("card_games").classList.remove("text-white");
			// {% else %}{% endif %}
			vein.inject('body', {'color': null, 'background-color': null});
			vein.inject('.card-body', {'background-color': null});
			vein.inject('.content-section', {'border-top-color': null});
			vein.inject(['a:hover','a:focus'], {'color': 'rgb(128,0,0)'});
			vein.inject('.light_bulb', {'background': null, 'background-size': '50px 50px'});
			vein.inject(['.hljs-comment','.hljs-quote'], {'color': null});
			vein.inject(['.hljs-variable', '.hljs-template-variable','.hljs-tag','.hljs-name','.hljs-selector-id','.hljs-selector-class','.hljs-regexp','.hljs-deletion'],
			{
				'color': null
			});
			vein.inject('.hljs', {'color': null, 'background': null});
	   	document.getElementById("lights").value = "ON";
	  	}
	}

	function updateChartItem(chart, chart_, prop, value) {
		chart_[prop] = value;
		chart.update();
	}

	// var chart = {
	//     options: {
	//         scale: {
	//         	gridLines: {
	//           	color: 'rgb(0,0,0)'
	//           }
	//         }
	//     },
	//     data: {
	//         label: 'hello',
	//     }
	// };

	function stringToProperty(obj, prop){
	    //property not found
	    if(typeof obj === 'undefined') return false;

	    //index of next property split
	    var _index = prop.indexOf('.')

	    //property split found; recursive call
	    if(_index > -1){
	        //get object at property (before split), pass on remainder
	        return stringToProperty(obj[prop.substring(0, _index)], prop.substr(_index+1));
	    }

	    //done splitting; return object
	    return obj;
	}

	// console.log(stringToProperty(chart, 'options.scale.gridLines.color'));

	</script>
	<!-- Additional scripts should be added here-->
		<script src="static/js/Chart.min.js"></script>
		<script>
		// {% for chart in charts %}
			var color = Chart.helpers.color;
			var ctx1 = document.getElementById("ppg");
			var ppg = new Chart(ctx1, {
				"type": "bar",
				"data": {
					//
					"labels": ['home','away'],
					"datasets": [{
						"label": "Fritz",
						"backgroundColor": color(window.chartColors.red).alpha(0.5).rgbString(),
						"borderColor": window.chartColors.red,
						"borderWidth": 1,
						"data": [12.74, 13.38],
						// {% if chart.chart_type == "line" %}
						// "fill":false,
						// "borderColor":"rgb(75, 192, 192)",
						// "lineTension":0.5,
						// {% elif chart.chart_type == "doughnut" or "polarArea" %}
						// "backgroundColor": ['rgba(75, 192, 192, 0.5)', 'rgba(153,102,255,0.5)', 'rgba(255, 159, 64, 0.5)'],
						// {% else %}
						// {% endif %}
					}, {
						"label": "Ken",
						"backgroundColor": color(window.chartColors.blue).alpha(0.5).rgbString(),
						"borderColor": window.chartColors.blue,
						"borderWidth": 1,
						"data": [13.72, 13.85],
					}
				],
				},
				options: {
					responsive: true,
					title: {
						display: true,
						position: "top",
						text: "Points Per Game",
					},
					// {% if chart.chart_type == "bar" %}
					scales: {

						yAxes: [{

							ticks: {
								beginAtZero:true,
								max: 20
							},
						}],
						xAxes: [{
							categoryPercentage: 0.5,
							barPercentage: 0.9,
						}]
					},
					// {% elif chart.chart_type == "polarArea" %}
					// scale: {
					// 	gridLines: {
					// 		color: "rgb(0, 0, 0)"
					// 	}
					// },
					// {% else %}
					// {% endif %}
				},

			});
			var ctx2 = document.getElementById("december");
			var dates = [
				"12/01/2018",
				"12/04/18",
				"12/05/18",
				"12/06/18",
				"12/07/18",
				"12/08/18",
				"12/11/18",
				"12/12/18",
				"12/13/18",
				"12/14/18",
				"12/15/18",
				"12/18/18"
			];
			var scores = [15,13.67,10.67,13,13,11.67,13.67,11.17,11,14.4,12,10];
			var data = [];
			for (i=0;i<dates.length;i++){
				data.push({x: dates[i], y: scores[i]});
			}
			var december = new Chart(ctx2, {
				"type": "bar",
				"data": {
					//NOTE: do margin of victory
					"labels": dates,
					"datasets": [{
						"label": "PPG over time",
						"backgroundColor": color(window.chartColors.red).alpha(0.5).rgbString(),
						"borderColor": window.chartColors.red,
						"data": data,
						"pointRadius": 0,
						"type": 'bar',
						"fill": false,
						// "lineTension": 0,
						// "borderWidth": 2,
						// {% if chart.chart_type == "line" %}
						// "fill":false,
						// "borderColor":"rgb(75, 192, 192)",
						// "lineTension":0.5,
						// {% elif chart.chart_type == "doughnut" or "polarArea" %}
						// "backgroundColor": ['rgba(75, 192, 192, 0.5)', 'rgba(153,102,255,0.5)', 'rgba(255, 159, 64, 0.5)'],
						// {% else %}
						// {% endif %}
					// }, {
					// 	"label": "Ken",
					// 	"backgroundColor": color(window.chartColors.blue).alpha(0.5).rgbString(),
					// 	"borderColor": window.chartColors.blue,
					// 	"borderWidth": 1,
					// 	"data": [13.72, 13.85],
					// }
				}],
				},
				options: {
					scales: {
						yAxes: [{
							scaleLabel: {
								display: true,
								labelString: 'Points',
							},
							ticks: {
								beginAtZero:true,
								max: 20
							},
						}],
						xAxes: [{
							type: 'time',
							distribution: 'series',
							ticks: {
								source: 'labels'
							}
						}]
					},
				},

			});
			// <button id="randomizeData">Randomize Data</button>
			// <button id="addDataset">Add Dataset</button>
			// <button id="removeDataset">Remove Dataset</button>
			// <button id="addData">Add Data</button>
			// <button id="removeData">Remove Data</button>
		// {% endfor %}
		var ctx3 = document.getElementById("days");
		var days = new Chart(ctx3, {
			"type": "bar",
			"data": {
				//
				"labels": ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
				"datasets": [{
					// "label": "Fritz",
					"backgroundColor": color(window.chartColors.red).alpha(0.5).rgbString(),
					"borderColor": window.chartColors.red,
					"borderWidth": 1,
					"data": [12.74, 13.38],
					// {% if chart.chart_type == "line" %}
					// "fill":false,
					// "borderColor":"rgb(75, 192, 192)",
					// "lineTension":0.5,
					// {% elif chart.chart_type == "doughnut" or "polarArea" %}
					// "backgroundColor": ['rgba(75, 192, 192, 0.5)', 'rgba(153,102,255,0.5)', 'rgba(255, 159, 64, 0.5)'],
					// {% else %}
					// {% endif %}
				}, {
					// "label": "Ken",
					"backgroundColor": color(window.chartColors.blue).alpha(0.5).rgbString(),
					"borderColor": window.chartColors.blue,
					"borderWidth": 1,
					"data": [11, 55, 45, 47, 39, 20, 0],
				}
			],
			},
			options: {
				responsive: true,
				title: {
					display: true,
					position: "top",
					text: "ACTIVITY BY DAY OF WEEK",
				},
				scales: {
					yAxes: [{
						display: false,
						ticks: {
							beginAtZero:true,
						},
					}],
					// xAxes: [{
					// 	categoryPercentage: 0.5,
					// 	barPercentage: 0.9,
					// }]
				},
				tooltips: {
					// yAlign: 'top',
					// xAlign: 'left',
					enabled: false,
					mode: 'index',
					position: 'nearest',
					custom: function(tooltip) {
						// Tooltip Element
						var tooltipEl = document.getElementById('chartjs-tooltip');

						if (!tooltipEl) {
							tooltipEl = document.createElement('div');
							tooltipEl.id = 'chartjs-tooltip';
							tooltipEl.innerHTML = '<table></table>';
							this._chart.canvas.parentNode.appendChild(tooltipEl);
						}

						// Hide if no tooltip
						if (tooltip.opacity === 0) {
							tooltipEl.style.opacity = 0;
							return;
						}

						// Set caret Position
						tooltipEl.classList.remove('above', 'below', 'no-transform');
						if (tooltip.yAlign) {
							tooltipEl.classList.add(tooltip.yAlign);
						} else {
							tooltipEl.classList.add('no-transform');
						}

						function getBody(bodyItem) {
							return bodyItem.lines;
						}

						// Set Text
						if (tooltip.body) {
							var titleLines = tooltip.title || "Record";
							var bodyLines = tooltip.body.map(getBody);

							var innerHtml = '<thead>';

							titleLines.forEach(function(title) {
								innerHtml += '<tr><th>'+ title + '</tr></th>';
								console.log('title', title);
							});

							innerHtml += '</thead><tbody>';

							var colors = tooltip.labelColors;
							var style1 = 'background:' + colors.backgroundColor;
							var style2 = 'background:' + colors.backgroundColor;

							style1 += '; border-color:' + colors.borderColor;
							style1 += '; border-width: 2px';
							style1 += '; color: green';


							style2 += '; border-color:' + colors.borderColor;
							style2 += '; border-width: 3px';
							style2 += '; color: red';


							var span = 'Record: <span style="'+ style1 +';">'+tooltip.body[0].lines[0]+'</span>';
							span +=  ' - <span style="'+style2+';">' + tooltip.body[1].lines[0] + '</span>';

							// var span = 'Record: <span class="chartjs-tooltip-key" style="'+ style1 + ';"> ' + tooltip.body[0].lines[0] + '</span>';
							// span +=  ' - <span class="chartjs-tooltip-key" style="'+ style2 +';">' + tooltip.body[1].lines[0] + '</span>';
							// var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
							innerHtml += '<tr><td>' + span + '</td></tr>';

							innerHtml += '</tbody>'
							console.log('tooltip.body', tooltip.bodyLines);

							// bodyLines.forEach(function(body, i) {
							// 	var colors = tooltip.labelColors[i];
							// 	var style1 = 'background:' + colors.backgroundColor;
							// 	var style2 = 'background:' + colors.backgroundColor;
							//
							// 	style1 += '; border-color:' + colors.borderColor;
							// 	style1 += '; border-width: 2px';
							// 	style1 += '; color: green';
							//
							// 	style2 += '; border-color:' + colors.borderColor;
							// 	style2 += '; border-width: 2px';
							// 	style2 += '; color: red';
							//
							//
							// 	var span = 'Record: <span class="chartjs-tooltip-key" style="color: green;"> ' + tooltip.body[0].lines[0] + '</span>';
							// 	span +=  ' - <span class="chartjs-tooltip-key" style="color: red;">' + tooltip.body[1].lines[0] + '</span>';
							//
							// 	// var span = 'Record: <span class="chartjs-tooltip-key" style="'+ style1 + ';"> ' + tooltip.body[0].lines[0] + '</span>';
							// 	// span +=  ' - <span class="chartjs-tooltip-key" style="'+ style2 +';">' + tooltip.body[1].lines[0] + '</span>';
							// 	// var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
							// 	// innerHtml += '<tr><td>' + span + body + '</td></tr>';
							//
							// 	innerHtml += '<tr><td>' + span + '</td></tr>';
							// 	console.log('tooltip.body', tooltip.body);
							// });


							var tableRoot = tooltipEl.querySelector('table');
							tableRoot.innerHTML = innerHtml;
						}

						var positionY = this._chart.canvas.offsetTop;
						var positionX = this._chart.canvas.offsetLeft;
						var position = this._chart.canvas.getBoundingClientRect();
						// console.log("positionY", positionY);
						// console.log("positionX", positionX);
						//
						// console.log("tooltip.caretX", tooltip.caretX);
						// console.log("tooltip.caretY", tooltip.caretY);
						// console.log("position", position);

						// Display, position, and set styles for font
						tooltipEl.style.opacity = 1;
						// tooltipEl.style.left = position.left + tooltip.caretX + 'px';
						// tooltipEl.style.top = position.top + tooltip.caretY + 20 + 'px';

						tooltipEl.style.left = tooltip.caretX + 'px';
						tooltipEl.style.top = tooltip.caretY +'px';
						// tooltipEl.style.width = '150px';

						// tooltipEl.style.left = positionX + tool
						tooltipEl.style.fontFamily = tooltip._bodyFontFamily;
						tooltipEl.style.fontSize = tooltip.bodyFontSize + 'px';
						tooltipEl.style.fontStyle = tooltip._bodyFontStyle;
						console.log("tooltip.yPadding: ", tooltip.yPadding);
						console.log("tooltip.xPadding: ", tooltip.xPadding);
						tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
					},

					// callbacks: {
					// 	body: function(tooltipModel, data) {
					// 		console.log(console.dir(tooltipModel));
					// 		// wins = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]/2;
					// 		// losses = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]/2;
					// 		bodyFontColor: 	'rgb(124,252,0)';
					// 		// lines: return
					// 	},
					// 	// Use the footer callback to display the sum of the items showing in the tooltip
					// 	footer: function(tooltipItems, data) {
					// 		var sum = 0;
					// 		var wins = 0;
					// 		var losses = 0;
					//
					// 		tooltipItems.forEach(function(tooltipItem) {
					// 			wins = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]/2;
					// 			losses = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]/2;
					// 			// sum += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
					// 		});
					// 		// return 'Sum: ' + sum;
					// 		return '<span style="color:green;">' + wins + '</span> - <span style="color:red;" >' + losses + '</span>';
					// 		// return 'Record: ' + wins + ' - ' + losses;
					// 	},
					// 	// labelColor: function(tooltipItem, chart) {
          //   //         return {
          //   //             borderColor: 'rgb(255, 0, 0)',
          //   //             backgroundColor: 'rgb(255, 0, 0)'
          //   //         }
          //   //     },
					// 	// labelTextColor:function(tooltipItem, chart){
          //   //         return '#543453';
          //   // },
					//
					// },
					// footerFontStyle: 'normal',
					// yAlign: 'top',
					// y: 0

					// bodyFontColor: 	'rgb(124,252,0)',

				},
				// {% elif chart.chart_type == "polarArea" %}
				// scale: {
				// 	gridLines: {
				// 		color: "rgb(0, 0, 0)"
				// 	}
				// },
				// {% else %}
				// {% endif %}
			},

		});
		</script>
		<script>$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})</script>
</body>
</html>



		var config = {
			type: 'line',
			data: {
				labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
					label: 'My First dataset',
					borderColor: window.chartColors.red,
					backgroundColor: window.chartColors.red,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					fill: false,
				}, {
					label: 'My Second dataset',
					borderColor: window.chartColors.blue,
					backgroundColor: window.chartColors.blue,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart - Custom Information in Tooltip'
				},
				tooltips: {
					mode: 'index',
					callbacks: {
						// Use the footer callback to display the sum of the items showing in the tooltip
						footer: function(tooltipItems, data) {
							var sum = 0;

							tooltipItems.forEach(function(tooltipItem) {
								sum += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
							});
							return 'Sum: ' + sum;
						},
					},
					footerFontStyle: 'normal'
				},
				hover: {
					mode: 'index',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							show: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							show: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
